

.assign-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
  width: 500px;  
  margin-top: 80px;
  border-radius: 10px;
  background:linear-gradient(to left, #BCCCFE,#E2E7EB);
  float: right;
  margin-right: 100px;
  position: relative;
}
.assign-img{
  float: left;
  
  position: relative;
}
.assign-card-title{
  
  text-align: center;
}

.assign-drop{
  margin-top: 30px;
  width: 100%;
  padding-top: 10px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

.assign-card-text {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Georgia, serif;
  padding: 12px 20px;
  margin-bottom: 20px;
}


.assign-button{
  margin-top: 20px;
  margin-left: 5%;
  padding:10px 20px;
  border:none;
  border-radius: 5px;
  background-color: #da12c9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.assign-button:hover{
  background-color: #da12c9;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0,0,0,1);
}