.project-body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: #f1f1f1;
  width: 350px;
  position: relative;
  display: inline-block;
  margin: 30px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-card-id {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.project-card-mentor {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-card-domain {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-card-desc {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}
