
.signup-card {  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    width: 500px;  
    height: 600px;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 10px;
    background:linear-gradient(to right, #BCCCFE,#5F6BDD);
    float: right;
    margin-bottom: 50px;
}
.signup-header{
    text-align: center;
    background: fixed;;
    font-family: 'Patua One',cursive;
}
.signup-form{
    padding: 15px;
    background: fixed;;
    font-family: 'Patua One',cursive;
}
.signup-name{
    width: 46.4%;
    margin-left: 0%;
    
}
.signup-email{
    width: 95%;
}
.signup-name,
.signup-reg_no
{
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: 'Patua One',cursive;
    margin-left: 10px;
    background: white;
}
.signup-reg_no{
    width: 95%;
}
::placeholder{
    font-size: 17px;
    padding-left: 10px;
}
.signup-password{
    width: 44.8%;
}
.signup-submit{
    margin-left: 30px;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    background-color: #da12c9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.signup-submit:hover{
    background-color: #da12c9;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0,0,0,1);
}
.signup-clear{
    margin-left: 120px;
    padding:10px 25px;
    border:none;
    border-radius: 5px;
    background-color: #da12c9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.signup-clear:hover{
    background-color: #da12c9;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0,0,0,1);
}
.signup-designation-container{
    margin-top: 30px;
    text-align: center;
    background: fixed;
}
input[type="radio"]{
    margin-top: 10px;
    text-align: center;
    background: fixed;
    size: 5px;   
}

  .signup-designation-note{
    background: fixed;
    font-size: 19px;
    font-weight: bold;
    
}
label{
    background: fixed;
}
.signup-img{
    margin-top: 60px;
    margin-left: 50px;
    width: 800px;
    float: left;
    border-radius: 10px;
}
.signup-anchor{
     background: fixed;
}
