
.upload-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    padding-bottom: 35px;
    background-color: #f1f1f1;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    background: linear-gradient(to right, #19c3d4, #e2e7eb);
    float: right;
    margin-right: 100px;
    position: relative;
   margin-bottom: 100px;
  }
  
  .upload-img img{
    margin-top: 100px;
    margin-left: 100px;
    width: 600px;
    float: left;
    border-radius: 50%;
  }
  
  .upload-mentor,
  .upload-lang,
  .upload-domain,
  .upload-project,
  .upload-desc {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: 'Patua One', cursive;
    margin-left: 20px;
    background: white;
    padding-left: 10px;
    font-size: 16px;
    resize: none;
  }
  .upload-desc{
    height: 100px;
  }
  .upload-header {
    text-align: center;
    font-family: 'Patua One', cursive;
  }
  
  .upload-mentor,
  .upload-lang,
  .upload-project,
  .upload-domain,
  .upload-lang {
    width: 91%; 
  }
  
  .upload-require,
  .upload-desc {
    width: 91%;
  }
  
  .upload-btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    }
    
    .upload-submit,
    .upload-clear {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #da12c9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 40px;
    }
    
    .upload-submit:hover,
    .upload-clear:hover {
    background-color: #da12c9;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
    }