/* PROFILE */

.dashboard-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f1f1f1;
  width: 300px;
  height: 100%;
  margin: 20px;
  float: left;
}

.dashboard-image-container img {
  display: block;
  border-radius: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-mid-container-1 {
  text-align: center;
}

.dashboard-mid-container-1 hr {
  margin-left: 10%;
  width: 75%;
}

.dashboard-mid-container-1 h1 {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.dashboard-mid-container-1 h4 {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 100;
}

.dashboard-mid-container-1 p {
  font-size: 18px;
  line-height: 16px;
}

.dashboard-mid-container-2 {
  text-align: center;
}

.dashboard-mid-container-2 h3 {
  font-size: 20px;
}

.dashboard-lower-container {
  margin-top: 10px;
}

.dashboard-social-handle {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.dashboard-social-handle a {
  text-decoration: none;
}

.dashboard-social-handle a i {
  padding: 8px;
}

/* PROJECT STATUS */

.dashboard-project-status {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  float: left;
  width: 50%;
  padding: 5px;
  margin: 20px;
}

.dashboard-project-container {
  display: flex;
}

.dashboard-project-detail {
  background-color: #f1f1f1;
  border: 1px dashed black;
  padding: 10px;
  margin: 10px;
  width: 350px;
}

.dashboard-project-detail h2 {
  font-size: 24px;
}

/* NOTIFICATION */

.dashboard-notifi-box {
  background-color: #f1f1f1;
  width: 300px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  margin: 20px;
}
.dashboard-notifi-box h2 {
  font-size: 18px;
  padding: 8px;
  border-bottom: 1px solid white;
  color: #999;
}
.dashboard-notifi-box h2 span {
  color: #f00;
}
.dashboard-notifi-item {
  display: flex;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 5px;
}
.dashboard-notifi-item:hover {
  background-color: #eee;
}

.dashboard-notifi-item .dashboard-notifi-text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 1px;
  margin-left: 20px;
}
.dashboard-notifi-item .dashboard-notifi-text p {
  color: #aaa;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 4px;
}

/* REQUEST */

.dashboard-request-container {
  padding: 5px;
  float: right;
  clear: right;
  width: 200px;
  margin: 20px;
}

.dashboard-request-meet {
  background-color: black;
  padding: 3px;
  border-radius: 30px;
}

.dashboard-request-meet li {
  list-style: none;
}

.dashboard-request-container li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-align: center;
}
